# Ignore test files
*.ldif
*.csv
*.spec
.DS_Store
deactivate
envVars.txt
requirements.txt
# Ignore the entire test directory
/test/
/old_files/
/dist/
/build/
/Obsolete/
.DS_Store
/work_in_progress/__pycache__